* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
.topbtnscrol{
    position: fixed;
    top:90vh;
    right:300px;
    padding: 15px;
    z-index: 66;
}
.scletonnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scletonnavbtns{
    display: grid;
    grid-template-columns: repeat(6,auto);
    gap: 10px;
}
.sclitonSec1{
    display: grid;
    grid-template-columns: 70% 28%;
    justify-content: space-between;
}
.sclitonSec2{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
}
a {
    color: grey;
}

:root {
    --havorang: rgb(217, 233, 244);
    --cardbg: rgba(238, 236, 236, 0.757);
}

/* .active {
    --havorang: rgb(217, 233, 244);
    --cardbg: rgba(30, 25, 25, 0.757);
} */

button {
    cursor: pointer;
}


/* header //////////// */

.header {
    width: 100%;
    height: auto;
    padding: 30px 5% 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(169, 168, 168);
        position: fixed;
        top: 0;
        z-index: 55;
        backdrop-filter: blur(10px);
}

.contact {
    padding: 5px 10px;
    border: 1px solid green;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

/* nav /////////////////// */
.navbar {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

.mdiaNav {
    display: none;
}
.logo{
    height: 70px;
}
.navbarHead {
    width: 100%;
    height: auto;
    padding: 20px 5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.search {
    width: 300px;
    display: grid;
    grid-template-columns: 90% 10%;
    border-radius: 10px;
    background-color: rgb(217, 233, 244);
    padding: 10px 20px;
}

.search input {
    border: none;
    background-color: transparent;
    outline: none;
}

.search button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnGroups {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.navbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border: none;
    background-color: transparent !important;
    position: relative;
    border: 1px solid #c5cbe3;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.navbtn:hover {
    background-color: #c5cbe3 !important;
}

.navbtn img {
    width: 30px;
    height: 30px;
}

.badge {
    position: absolute;
    bottom: 30px;
    right: -10px;
    color: #384685 !important;
    font-size: 25px;
    padding: 0 5px;
    border-radius: 15px 15px 15px 0;
}

.navbtnsScroll::-webkit-scrollbar {
    display: none;
}

.navbtnsScroll {
    width: 100%;
    overflow-x: scroll;
}

.navbarBtns {
    height: 80px;
    padding: 0px 5% 10px;
    background: white !important;
    display: flex;
    border-bottom: 1px solid rgb(215, 215, 215);
}


.navbarBtns a {
    padding: 0 60px;
    height: auto;
    color: rgb(92, 91, 91);
    font-size: 20px;
    border: none;
    background-color: white;
    transition: all 0.2s ease-out;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarBtns a:hover {
    background: #384685;
    border-radius: 5px;
    color: white;
}

.navbarBtns a.activ {
    background: #384685;
    border-radius: 5px;
    color: white;
}


/* home /////////////////// */
.home {
    width: 100%;
    height: auto;
    padding: 20px 5%;
    /* scroll-snap-type:y mandatory; */
}
/* .home > div{
    scroll-snap-align: start;
}
.home::-webkit-scrollbar{
    display: none;
} */
.sec1 {
    width: 100%;
    height: auto;
}

.headerCaruselcard {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 70% 30%;
}

/* select header // */
.filterBtns {
    display: grid;
    grid-template-columns: 50% 50%;
}

.filterbtn {
    background-color: transparent;
    color: #384685;
    height: 50px;
    font-size: 25px;
}
.filterbtn.activ {
    background-color: #384685;
    color: white;
    height: 50px;
    font-size: 25px;
}

.filterjoylashuv {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
}

.brend {
    display: grid;
    grid-template-columns: 60%;
    justify-content: center;
    gap: 20px;
    overflow-y: scroll;
}

.brend button {
    width: 100%;
    height: 100px;
    border: none;
    overflow: hidden;
    outline: none;
    border: 4px solid transparent;
    background-color: #38468582;
}
.brend button:hover {
    border: 4px solid #384685;
    transform: scale(1.1);
}
.brend button.activ {
    border: 4px solid #384685;
    transform: scale(1.2);
    padding: 10px;
}

.selecttext {
    color: grey;
    text-align: start;
}

.selectBody {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    gap: 15px;
}

.selectBody Button {
    height: 50px;
}
.selectBody button.activ{
    background-color: #384685;
    color: white !important;
}
/* select header // */
.brend img {
    width: 101%;
    height: 101%;
}

.brend::-webkit-scrollbar {
    display: none;
}

.filterjoylashuv::-webkit-scrollbar {
    display: none;
}

.malumotheader::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.malumotheader::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    background-color: transparent;
}

.malumotheader::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(90, 166, 252);
    border-radius: 5px;
}

.malumotheader {
    width: 100%;
    max-height: 600px;
    padding: 10% 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.malumotheader .ant-select-selector {
    height: 80px !important;
    align-items: center;
    font-size: 35px;
}



.imgcard {
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 50px 0px;
}

.sec1img {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 10px;
}

.bizningA {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    text-align: start;
}

.dot {
    width: 10px !important;
    height: 10px !important;
}

/* .dot.active {
    width: 15px !important;
    height: 15px !important;
} */

.carousel-caption-bottom {
    bottom: 50px !important;
    font-size: 50px !important;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 39px;
    padding: 10px 0px;
    color: #555555;

}

.cards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    justify-content: space-between;
    padding: 20px 0;
}

.cards button {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #F4F4F4;
    border-radius: 5px;
    border: none;
    transition: all 0.3s linear;
}

.cards button:hover {
    transform: scale(0.95);
}

/* ////////// */
.katalog {
    width: 100%;
    height: auto;
    padding: 20px 0;
    text-align: start;
}

.katalogCards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.katalogCards .card {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.cardHoverCatalog::-webkit-scrollbar {
    display: none;
}

.cardHoverCatalog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #38468562;
    transition: all 0.3s ease-out;
    opacity: 0;
    transform: scale(0.5);
    gap: 10px;
}

.katalogCards .card:hover .cardHoverCatalog {
    opacity: 1;
    transform: scale(1);
}

.katalogCards .card img {
    width: 100%;
    height: 100%;
}

.katalogCards .card .text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #384685;
    color: white;
    padding: 10px 30px;
    border-radius: 0 0 0 10px;
}


/* ///////// */

.mashxurtavarlar {
    width: 100%;
    height: auto;
    text-align: start;
}

.mashxurtavarlarCards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 10px;
    padding: 50px 0px;
}

.card {
    width: 100%;
    height: min-content;
    border-radius: 5 px;
    padding: 10px;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.card:hover {
    z-index: 55;
    background-color: var(--cardbg);
}

.positionCard {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
}

.skitka {
    background-color: red;
    color: rgb(224, 222, 222);
    border-radius: 4px;
    padding: 6px 10px;
    display: none;
}

.skitka.active {
    display: block;
    background-color: red;
    color: rgb(224, 222, 222);
    border-radius: 4px;
    padding: 6px 10px;
}

.new {
    background-color: rgb(1, 93, 35);
    color: rgb(224, 222, 222);
    border-radius: 4px;
    padding: 6px 10px;
    display: none;
}

.new.active {
    display: block;
    background-color: rgb(1, 93, 35);
    color: rgb(224, 222, 222);
    border-radius: 4px;
    padding: 6px 10px;
}

.cardimg {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.imgbtns {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 5px;
    padding: 15px 0px;
}

.imgbtn {
    content: "";
    background-color: #efefef;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid grey;
}

.imgbtn.active {
    background-color: #384685;
}

.razmertext {
    padding: 10px 0px;
    color: grey;
}

.colorbtnGroups {
    padding: 10px 0px;
    display: flex;
    justify-content: start;
    gap: 10px;
}

.colors {
    width: 20px;
    height: 20px;
    content: "";
    background-color: grey;
    border: none;
    border-radius: 4px;
}

.colors.active {
    border: 2px solid black;
    box-shadow: 0px 5px 10px #384685;
}

.sena {
    display: flex;
    gap: 5px;
    border-top: 1px solid rgb(179, 177, 177);
    border-bottom: 1px solid rgb(179, 177, 177);
    padding: 15px 0px;
}

.underlinetext {
    text-decoration: line-through;
    color: rgb(186, 184, 184);
}

.activetext {
    color: rgb(76, 76, 76);
    font-weight: 500;
}

.cardbtns {
    display: grid;
    grid-template-columns: 70% 20%;
    justify-content: space-between;
    padding: 10px 0px;
}

.buyurtma {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #1D1818;
    transition: all 0.2s ease-in-out;
}

.buyurtma:hover {
    background-color: #384685;
    color: white;
}

.buyurtma.active {
    background-color: #384685;
    color: white;
}

.like {
    border: none;
    background-color: transparent;
}

.razmer {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 15px 0px;
}

.razmerbtn {
    color: rgb(110, 110, 110);
    font-weight: 500;
}

.paginationbtns {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationbtns button {
    padding: 5px 15px;
    border: 1px solid grey;
    border-radius: 3px;
}

.paginationbtns button:hover {
    background-color: #384685bb;
    color: white;
    border-radius: 3px;
}

.paginationbtns button.active {
    background-color: #384685;
    color: white;
    border-radius: 3px;
}


/* /////// */
.skitkaCards {
    width: 100%;
    height: auto;
}

.carusell .slick-track {
    display: flex !important;
    gap: 20px !important;
}

/* .slick-track .card{
     width: 100%;
    height: min-content;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.4s ease-in-out;
    z-index: 1;
} */


/* .slick-track .card:hover {
    z-index: 55;
     background-color: var(--cardbg);
} */

/* ///////ishlar */
.bajarilganIshlar {
    padding-top: 100px;
    text-align: start;
    margin: 20px 0px 100px;
}

.qilinganIshlar {
    margin: 20px 0px 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas: 'a a b b d d'
        'a a b b d d'
        'c c c c d d'
        'c c c c d d';
    gap: 20px;
}

.qilinganIshlar .a {
    grid-area: a;
}

.qilinganIshlar .b {
    grid-area: b;
}

.qilinganIshlar .c {
    grid-area: c;
}

.qilinganIshlar .d {
    grid-area: d;
}

.qilinganIshlar .ishlarcard {
    overflow: hidden;
    position: relative;
}

.positionLupaimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    cursor: pointer;
    background-color: #3846857f;
    z-index: -55;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.qilinganIshlar .ishlarcard:hover .positionLupaimg {
    z-index: 55;
    opacity: 1;
}

.qilinganIshlar .ishlarname {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: start;
    padding: 15px;
    background-color: #384685;
    color: #FFF;
}

.qilinganIshlar .ishlarcard img {
    width: 100%;
    height: 100%;
}

.qilinganImgcarusel {
    width: 100%;
    height: 70vh;
}

.modall {
    width: 80% !important;

}

/* profile page*/
.profilePage {
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kirishform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #cfd3e9;
    border-radius: 7px;
    box-shadow: 0px 50px 50px rgba(128, 128, 128, 0.499);
}

.formTitle {
    font-size: 40px;
    font-weight: 500;
}

.kirishform input {
    font-size: 25px;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #adb9ed69;
}

.kirishform a {
    margin: 10px 0px;
    position: relative;
}

.kirishform a::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    content: "";
    width: 50%;
    height: 2px;
    background-color: #38468589;
    transition: all 0.3s linear;
}

.kirishform a:hover:after {
    width: 100%;
}

.formbtn {
    padding: 15px 45px;
    margin: 20px 0px;
    font-size: 25px;
    color: white;
    background-color: #3846857f;
    border-radius: 7px;
    border: 1px solid grey;
    transition: all 0.3s linear;
}

.formbtn:hover {
    background-color: #384685;
}

.kirishform p {
    color: grey;
}

/* profile page*/
/* boglanish */
.malumotlarCards {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.boglanish {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}

.boglanish img {
    width: 100%;
    height: 100%;
}

.boglanishcard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    background-color: #4da9f05b;
    border-radius: 10px;
    padding: 25px;
}

.boglanishcard h1 {
    font-size: 40px;
}

.boglanishcard p {
    color: #384685;
}

.sasvollarbtn {
    background: #384685;
    border-radius: 5px;
    padding: 15px 40px;
    border: none;
    color: white;
    font-size: 25px;
}

.xarita {
    border-radius: 10px;
    overflow: hidden;
}

/* boglanish */
/* filterlangan like va savat card  */
.likepageHome {
    width: 100%;
    min-height: 50vh;
}
.likepage {
    width: 100%;
    height: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 47% 47%;
    justify-content: space-around;
    row-gap: 30px;
}

.likecard {
    width: 100%;
    height: min-content;
    border-radius: 5 px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    border-bottom: 1px solid rgb(93, 91, 91);
}

.likecard:hover {
    z-index: 55;
    background-color: var(--cardbg);
}

.imgcaruselcard .slick-slider {
    width: 100%;
    height: 100%;
}

.imgcaruselcard {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    cursor: ew-resize;
}

.imgcaruselcard img {
    width: 100%;
    height: 100%;
}

.likecard .razmer {
    padding: 20px 10% !important;
}

.countcard {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px 0px;
}

.countcard {
    color: grey;
}
.savatPage{
    width: 100%;
    min-height: 50vh;
}
.savatnarx {
    font-size: 35px;
    color: grey;
    text-align: end;
}

.bodysavat {
    color: grey;
    font-style: italic;
}

/* ///////////////////////profile */
.profileaccount {
    width: 60%;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

.saitbar {
    height: min-content;
    border: 1px solid #b8bbc8;
    border-radius: 7px;
    padding: 30px 0px;
}

.saitbar li {
    background-color: transparent;
    padding: 20px;
    text-align: start;
}

.saitbar li:hover {
    background-color: #3846859f;
    color: white;
}

.saitbar li.active {
    background-color: #384685;
    color: white;
}

.prifileimg {
    mix-blend-mode: multiply;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profilcar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.profilename {
    color: grey;
}

/* filterlangan like va savat card  */
/* footer//// */
.footer {
    width: 100%;
    height: auto;
    padding: 20px 5%;
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    background-color: #384685;
}

.logoSocial {
    color: rgb(230, 0, 255);
    font-size: 60px;
}

.footerUl {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.footerUl h3 {
    color: white;
}
.footerbtn{
    display: none;
}
/* footer//// */





@media(max-width:420px) {
    .logo {
        display: none;
    }

    .header {
        padding: 3px;
        position: fixed;
        top: 0;
        z-index: 55;
        /* background-color: #3846854f; */
        backdrop-filter: blur(10px);
        }

    .header a {
        font-size: 10px
    }

    .header .contact {
        font-size: 12px
    }

    .headerselect {
        font-size: 12px
    }

    .btnGroups {
        display: none;
    }
    .navbar{
        margin-top: 30px;
    }
    .navbarHead {
        justify-content: center;
    }

    .imgcard {
        padding: 10px 0px;
    }

    .navbarBtns {
        display: none;
        transition: all 0.5s ease-out;
    }

    .navbarBtns.active {
        position: fixed;
        bottom: 10vh;
        left: 0;
        width: 100%;
        height: 90%;
        padding: 10% 10px;
        background-color: grey;
        color: white;
        z-index: 55;
        display: inline-block;
        display: grid;
        grid-template-columns: 100%;
    }

    .navbarBtns a {
        padding: 0px 20px;
        width: 100%;
        height: auto;
        font-size: 25px;
        color: white;
        background-color: #3846856f;
    }

    .mdiaNav {
        display: inline-block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10vh;
        background-color: #384685;
        z-index: 55;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0px 10%;
    }

    .mdiaNav button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .mdiaNav a.active {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .title {
        padding: 10px 10px;
        font-size: 25px;
    }

    .headerCaruselcard {
        grid-template-columns: 100%;
    }

    .malumotheader {
        padding: 10% 5%;
    }

    /* ///////// */
    .cards {
        display: grid;
        grid-template-columns: 80%;
        row-gap: 10px;
        justify-content: center;
    }

    .bizningA {
        padding: 20px 0px;
    }

    .dot {
        width: 7px !important;
        height: 7px !important;
    }

    /* .dot.active {
        width: 10px !important;
        height: 10px !important;
    } */

    .carousel-caption-bottom {
        bottom: 30px !important;
        font-size: 50px !important;
    }

    .katalogCards {
        grid-template-columns: repeat(2, auto);
        gap: 5px;
        padding: 10px;
    }

    .katalogCards .card .text {
        padding: 5px 10px;
    }

    /* ///////// */





    .home {
        padding: 10px 0px;
    }

    .mashxurtavarlarCards {
        grid-template-columns: 95%;
    }

    /* skitka lar  */
    .carusell {
        padding: 50px 0;
    }

    .qilinganIshlar {
        margin: 10px 0px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
            'a a '
            'a a '
            'c c '
            'c c '
            'b b '
            'b b '
            'd d ';
        gap: 30px;
        padding: 10px;
    }

    .qilinganImgcarusel {
        width: 100%;
        height: auto;
    }


    .likepageHome {
        width: 100%;
        min-height: 90vh;
        padding: 30px 5px;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        row-gap: 30px;
    }
    .likepage {
        width: 100%;
        min-height: 100vh;
        padding: 30px 5px;
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-around;
        row-gap: 30px;
    }

    /* ///////////////////////profile */
    .profileaccount {
        width: 100%;
        min-height: 90vh;
        display: grid;
        grid-template-columns: 100%;
        padding: 5px ;
    }
    .saitbar {
        height: 60px;
        border: 1px solid #b8bbc8;
        border-radius: 7px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    .modall {
        width: 100%;
    }

    .malumotlarCards {
        grid-template-columns: 100%;
        height: auto;
        gap: 20px;
        padding: 5px;
    }

    .xarita {
        width: 100%;
        height: 300px;
    }

    .footer {
        height: 80px;
        overflow: hidden;
        grid-template-columns: repeat(1, auto);
        padding: 20px 10%;
        transition: all 0.3s linear;
    }
    .footer.active {
        height: auto;
        overflow: hidden;
        background-color: #384685;
    }
    .footerlogo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footerbtn{
        padding: 5px 10px;
        color: #384685;
        background-color: white;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
    }

}