body{
  background-color: rgb(213, 213, 214);
}
.App {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  padding-top: 180px;
}
html{
  scroll-behavior: smooth;
}

@media(max-width:420px){
  .App{
     padding-top: 50px;
  }
}