body{
  background-color: rgb(213, 213, 214);
}
.App {
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

